@import 'tailwindcss';

@import 'tw-animate-css';

@source "../../node_modules/svelte-streamdown/**/*";

@custom-variant dark (&:is(.dark *));

:root {
	/* Default fonts - overridden by app.html script from cookies */
	--font-sans: 'IBM Plex Sans Variable', sans-serif;
	--font-mono: 'Geist Mono', monospace;

	--primary: oklch(0.5662 0.1905 27.52);
	--primary-foreground: oklch(98.18% 0.005391873657638326 95.09859092511448);

	--background: oklch(0.9518 0.005391873657638326 95.09859092511448);
	--foreground: oklch(0.3761 0.00612555066067004 56.0433322108949);
	--card: oklch(98.18% 0.005391873657638326 95.09859092511448);
	--card-foreground: var(--foreground);
	--popover: oklch(0.9518 0.005391873657638326 95.09859092511448);
	--popover-foreground: var(--card-foreground);
	--secondary: oklch(98.18% 0.005391873657638326 95.09859092511448);
	--secondary-foreground: oklch(21.61% 0.00612555066067004 56.0433322108949);
	--muted: oklch(98.18% 0.005391873657638326 95.09859092511448);
	--muted-foreground: oklch(0.295 0.015 286.067);
	--accent: oklch(0.9118 0.005391873657638326 95.09859092511448);
	--accent-foreground: var(--foreground);
	--destructive: oklch(0.704 0.191 22.216);
	--destructive-foreground: oklch(98.18% 0.005391873657638326 95.09859092511448);
	--border: oklch(0.898 0.006286933207768164 34.29748037425685);
	--input: oklch(0.932 0.006286933207768164 34.29748037425685);
	--ring: oklch(0.552 0.016 285.938);
	--sidebar: oklch(98.18% 0.005391873657638326 95.09859092511448);
	--sidebar-foreground: var(--foreground);
	--sidebar-primary: var(--primary);
	--sidebar-primary-foreground: var(--primary-foreground);
	--sidebar-accent: oklch(0.9 0.006286933207768164 34.29748037425685);
	--sidebar-accent-foreground: var(--foreground);
	--sidebar-border: var(--border);
	--sidebar-ring: var(--ring);
}

.dark {
	--background: oklch(21.61% 0.00612555066067004 56.0433322108949);
	--foreground: oklch(98.18% 0.005391873657638326 95.09859092511448);
	--card: oklch(26.85% 0.006286933207768164 34.29748037425685);
	--card-foreground: var(--foreground);
	--popover: var(--card);
	--popover-foreground: var(--card-foreground);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.3448 0.006286933207768164 34.29748037425685);
	--accent-foreground: var(--foreground);
	--destructive: oklch(0.704 0.191 22.216);
	--destructive-foreground: oklch(21.61% 0.00612555066067004 56.0433322108949);
	--border: oklch(0.2984 0.006286933207768164 34.29748037425685);
	--input: oklch(26.85% 0.006286933207768164 34.29748037425685);
	--ring: oklch(0.552 0.016 285.938);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: var(--foreground);
	--sidebar-primary: var(--primary);
	--sidebar-primary-foreground: var(--primary-foreground);
	--sidebar-accent: oklch(0.3006 0.006286933207768164 34.29748037425685);
	--sidebar-accent-foreground: var(--foreground);
	--sidebar-border: var(--border);
	--sidebar-ring: var(--ring);
}

@theme inline {
	--radius: 0.45rem;
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-family-sans: var(--font-sans);
	--font-family-mono: var(--font-mono);
	--font-family-system:
		system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif;

	/* For shiny text */
	--animate-shimmer: shimmer 1s infinite;
	--animate-shake: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

	--breakpoint-settings: 768px;
}

/* For shiny text */
@keyframes shimmer {
	0% {
		background-position: calc(-100% - var(--shimmer-width)) 0;
	}
	100% {
		background-position: calc(100% + var(--shimmer-width)) 0;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html {
	@apply overscroll-none;
	color-scheme: dark;
}
